<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BoonSupplySuite">
<parameter name="Username" value="KovidMehta"/>
<parameter name="HostName" value="BoonSupply"/>
<parameter name="Environment" value="Production"/>
<parameter name="Browser" value="Chrome"/>
  <test thread-count="5" name="BoonSupplyTest">
    <classes>
      <class name="boonSupplyTests.TestRunner"/>
    </classes>
  </test> <!-- BoonSupplyTest -->
</suite> <!-- BoonSupplySuite -->
